.hide,
.hideSideBar {
    position: fixed;
    top: var(--height-header);
    left: 0;
    bottom: 0;
    width: var(--width-sideBar-hide);
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    background-color: white;
    z-index: 100;
}
.showSideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--width-sideBar-show);
    display: flex;
    flex-direction: column;
    background-color: white;
}

.wrappe-playCrad {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    z-index: 2020;
    transition-duration: 100ms;
    transition-property: visibility;
}

.wrappe-sidebar-play {
    z-index: 2021;
    background-color: white;
    width: var(--width-sideBar-show);
    height: 100%;

    animation: animatiSiderBar1 ease 200ms forwards;
}
.ShowSidebarPlay {
    animation: animatiSiderBar ease 200ms;
}

@keyframes animatiSiderBar {
    from {
        // opacity: 0;
        transform: translateX(-100%);
    }
    to {
        // opacity: 1;
        transform: translateX(0);
    }
}
@keyframes animatiSiderBar1 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes animitonOpactySider {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 876px) {
    .hide,
    .hideSideBar {
        top: unset;
        right: 0;
        width: 100%;
        z-index: 99;
        background-color: white;
    }
}
