.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
.header-mobile {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
}
.contai-input {
    flex: 1;
    border-bottom: 0.2px solid #000;
    padding: 4px 0;
    input {
        font-size: 1.5rem;
        font-weight: normal;
        width: 100%;
    }

    &:focus-within {
        border-bottom: 2px solid #000;
    }
}
.btn-back {
    padding: 12px;
    &:active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.btn-search,
.btn-voice {
    padding: 9px 10px;
    &:active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.result-search {
    background-color: white;
    > span {
        padding: 12px;
        display: flex;
    }
}
.custom-item-search {
    border-bottom: 1px solid #dddddd70;
    padding: 3px 24px 3px 10px;
}
