.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #240046;
    .active {
        background-image: linear-gradient(90deg, #f368e0, #eb4d4b);
        color: #fff;
    }
}
.contai {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.logo-contai {
    display: flex;
    margin: 26px 10px;
    justify-content: center;
    img {
        height: 30px;
    }
}
.wrapper {
    form {
        width: 450px;
        height: auto;
        background: #fff;
        padding: 16px;
        padding-bottom: 0;
        input {
            display: block;
            width: 100%;
            height: 36px;
            margin: 14px 0;
            margin-bottom: 6px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            transition: 0.5s;
            font-size: 16px;
            padding-left: 10px;
        }
        input:focus {
            border-bottom: 2px solid #be2edd;
        }
    }
    h3 {
        text-align: center;
        font-size: 2rem;
        margin: 20px auto;
        color: #45aaf2;
    }
    p {
        text-align: center;
        margin-bottom: 0;
        line-height: initial;
    }

    .text {
        color: #45aaf2;
        cursor: pointer;
    }
}

.btn-submit,
.btn {
    height: 40px;
    width: 159px;
    border-radius: 5px;
    font-size: 16px;
    border: #ccc;
    border: 1px solid #ccc;
    transition: opacity 0.4s linear;
    &.btn:first-child {
        margin-right: 10px;
    }
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.submit,
.wrapper-button {
    display: flex;
    justify-content: center;
}

.wrapper-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-submit {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(90deg, #45aaf2, #be2edd);
    font-size: 19px;
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.wapper_btn-submit-formLogin {
    display: flex;
    justify-content: center;
}

.btn-submit:hover {
    background: #54a0ff;
}
.errorMsg {
    color: #eb4d4b;
    padding-left: 4px;
    padding-top: 4px;
    display: flex;
}
.wrapper-Verify {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(90deg, #d4c6c2, #bba69f);

    .title {
        font-size: 22px;
        color: #000000cf;
        padding: 10px 10px 10px 0;
        display: flex;
        font-weight: 500;
    }
    .title-content {
        padding: 10px 10px 10px 0;
        display: flex;
        text-align: center;
        color: #606060;
        font-weight: 300;
        line-height: 26px;
    }
    .Container {
        padding: 15px;
        border: 10px;
        border-radius: 20px;
        // background-color: #ede9e2;
        // box-shadow: -17px -15px 5px 15px #c4aea7;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .footer {
        margin: 10px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            color: #59a5dc;
            text-decoration: underline;
            margin-left: 5px;
        }
        .time {
            display: flex;
            align-items: center;
        }
    }
    .btn-Rerify {
        background-color: #54a0ff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media (max-width: 768px) {
    .from-2 {
        form {
            padding-top: 20px;
            width: auto;
        }
    }
}
@media (max-width: 576px) {
    .wrapper {
        background-image: unset;
        background-color: white;
        position: unset;
    }
    .contai {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .btn {
        height: 32px;
        width: 120px;
    }
    .contai {
        form {
            width: 321px;
        }
    }
}
