.wrapper {
    background-image: linear-gradient(90deg, #45aaf2, #be2edd);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .active {
        background-image: linear-gradient(90deg, #f368e0, #eb4d4b);
        color: #fff;
    }
}
.contai {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-contai {
    display: flex;
    margin: 26px 10px;
    justify-content: center;
    img {
        height: 30px;
    }
}
.wrapper {
    form {
        width: 450px;
        height: auto;
        background: #fff;
        padding: 16px;
        padding-bottom: 0;
        input {
            display: block;
            width: 100%;
            height: 36px;
            margin: 14px 0;
            margin-bottom: 6px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            transition: 0.5s;
            font-size: 16px;
            padding-left: 10px;
        }
        input:focus {
            border-bottom: 2px solid #be2edd;
        }
    }
    h3 {
        text-align: center;
        font-size: 2rem;
        margin: 20px auto;
        color: #45aaf2;
    }
    p {
        text-align: center;
        margin-bottom: 0;
    }

    .text {
        color: #45aaf2;
        cursor: pointer;
    }
}

.btn-submit,
.btn {
    height: 40px;
    width: 159px;
    border-radius: 5px;
    font-size: 16px;
    border: #ccc;
    border: 1px solid #ccc;
    transition: opacity 0.4s linear;
    &.btn:first-child {
        margin-right: 10px;
    }
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.submit,
.wrapper-button {
    display: flex;
    justify-content: center;
}

.wrapper-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-submit {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(90deg, #45aaf2, #be2edd);
    font-size: 19px;
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-submit:hover {
    background: #54a0ff;
}
.errorMsg {
    color: #eb4d4b;
    padding-left: 4px;
    padding-top: 4px;
    display: flex;
}
