.wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    h3 {
        padding: 8px 24px;
        color: #606060;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}
