.wraper {
    width: 100%;
}
.Video {
    height: 448px;
    width: 100%;
    left: 0;
    right: 0;
    // display: none;
}
.Video {
    body {
        display: none;
    }
}
@media (min-width: 2560px) {
    .Video {
        height: 1000px;
    }
}
@media (max-width: 2560px) {
    .Video {
        height: 800px;
    }
}
@media (max-width: 2148px) {
    .Video {
        height: 678px;
    }
}
@media (max-width: 1940px) {
    .Video {
        height: 500px;
    }
}
@media (max-width: 1051px) {
    .Video {
        height: 510px;
    }
}
@media (max-width: 590px) {
    .Video {
        height: 400px;
    }
}
@media (max-width: 590px) {
    .Video {
        height: 400px;
    }
}
@media (max-width: 450px) {
    .Video {
        height: 300px;
    }
}
@media (max-width: 370px) {
    .Video {
        height: 200px;
    }
}
