.wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    h3 {
        padding: 8px 24px;
        color: #606060;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}
// .wrapper-channel {
//     display: flex;
//     flex-direction: column;
//     height: 210px;
//     overflow: hidden;
// }
.tongle-btn {
    display: flex;
    height: 40px;
    padding: 0 24px;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.title-btn {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--text-color);
}
.icon {
    font-size: 15px;
    font-weight: 300;
    margin-right: 24px;
    width: 24px;
    color: var(--text-color);
}
.disNone {
    display: none;
}
