.wrapper {
    height: 300px;
    margin: 0 auto;
    max-width: 1300px;
    min-width: 1300px;
    margin-top: 24px;

    // min-width: 100%;
}
.wrapper-right,
.wrapper-left {
}

.wrapper-left {
    margin-left: 24px;
}
.wrapper-right {
    margin-right: 24px;
    height: 300px;
}
.wrapper-video {
    width: 100%;
}
