.ManagerVideo {
    .imageVideo {
        width: 116px;
        height: 76px;
        display: flex;
        justify-content: center;

        img {
            width: 32px;
            height: 32px;
            cursor: pointer;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .channeImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .container-actions {
        display: flex;
        justify-content: center;
        button {
            padding: 6px;
            margin: 0 5px;
            cursor: pointer;
        }
    }
}
