.wrapper {
    background-color: white;
    width: 100%;
    height: var(--height-header);
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    position: fixed;
    top: 0;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo-contai {
    position: relative;
    padding-left: 16px;
    display: flex;
    align-items: center;

    span {
        position: absolute;
        top: -7px;
        right: -17px;
        font-size: 1rem;
        color: #606060;
    }
}

.menu-btn {
    padding: 8px;
    cursor: pointer;
    display: flex;
    background-color: white;

    &:active {
        border-radius: 50%;
        background: #e5e5e5;
    }
}
.header-center {
    display: flex;
    align-items: center;

    .icon-voice {
        padding: 7px;
        margin-left: 4px;
        cursor: pointer;
    }
}

// header-right
.header-right {
    display: flex;
    align-items: center;
}
.notification-btn,
.create-video-btn {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}

.notification-btn {
    margin-left: 8px;
    margin-right: 8px;
    position: relative;

    span {
        position: absolute;
        top: 5px;
        left: 20px;
        border: 2px solid rgba(255, 255, 255, 0.98);
        border-radius: 22px;
        text-align: center;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        padding: 0 4px;
        background-color: #c00;
        color: #fff;
    }
}

.user-avatar {
    width: 60px;
    height: 34px;
    display: flex;
    justify-content: center;

    img {
        width: 32px;
        height: 32px;
        cursor: pointer;
        border-radius: 50%;
        object-fit: cover;
    }
}
.setting {
    padding: 6px 7px;
    cursor: pointer;
    border: 1px solid transparent;

    &:active {
        border-color: #bdb4b4;
        border-radius: 50%;
        background: #e5e5e5;
    }
}

.span-btn {
    position: absolute;
    right: -40px;
    bottom: -40px;
    background-color: #e5e5e5;
    // border-radius: 50%;
    pointer-events: none;
    animation: scaleSpan 1s linear;
    width: 700px;
    height: 700px;
}
@keyframes scaleSpan {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 700px;
        height: 700px;
    }
}
