@media (max-width: 876px) {
    .UserChannel_content-user-channel__ORUd- {
        .css-qh29qi {
            top: 48px;
        }
    }
    .Home_wrapper__WRCXR .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root.Mui-disabled {
        display: none;
    }
    .css-1ujnqem-MuiTabs-root .MuiTabs-scrollButtons {
        display: none;
    }
    .UserChannel_wrapper__9twsa {
        .UserChannel_header__0OkBY {
            padding: 16px 50px 4px;
        }
        .UserChannel_wrapper-Tabpanel__kSAx\+,
        .UserChannel_content-user-channel__ORUd- .css-qh29qi {
            padding: 0 50px;
        }
        .UserChannel_wrapper-video-top__0X\+AX {
            flex-direction: column;
        }
        .UserChannel_video-top__l7\+\+r {
            width: 100%;
            flex-shrink: 0;
        }
        .UserChannel_wrapper-content-video__IA8P- {
            padding-top: 12px;
            max-width: 100%;
        }
        .UserChannel_iframe-video__LWjVV {
            height: 350px;
        }
    }
}
@media (max-width: 576px) {
    .PlayVideo_wrapper-right__IqITP {
        .CardImage_wrapper__YrspD {
            flex-direction: column;
            height: auto;
        }
        .CardImage_wrapper-content-video__owR7M {
            margin-right: 0;
            height: auto;
        }
        .CardImage_content-title__ZRe7r {
            padding: 12px;
        }
        .CardImage_avatar-user-mobi__Sfq-H {
            display: block;
        }
        .CardHome_setting__PJ6UW {
            right: 6px;
        }
    }
    .Home_wrapper__WRCXR {
        .css-19kzrtu {
            padding: 0;
        }
        .CardHome_setting__PJ6UW {
            right: 6px;
        }
        .ant-row {
            margin: 0 !important;
        }
        .ant-col-24 {
            padding: 0 !important;
        }
        .CardHome_content-title__sS0pV {
            padding: 0 12px;
        }
    }
    .UserChannel_wrapper__9twsa {
        .UserChannel_wrapper-content-video__IA8P- {
            display: none;
        }
        .UserChannel_iframe-video__LWjVV {
            height: 250px;
        }
        .UserChannel_title-mobile__qcC7j {
            display: block;
            padding: 12px;
        }
        .UserChannel_wrapper-Tabpanel__kSAx\+ {
            padding: 0;
        }
        .UserChannel_wrapper-video-top__0X\+AX {
            padding-bottom: 0;
        }
        .contents {
            padding: 0 12px;
        }
        .UserChannel_header__0OkBY {
            padding: 16px 12px 4px;
            position: relative;
            img {
                width: 55px;
                height: 55px;
                position: absolute;
                top: -38px;
            }
        }
    }
}
