@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --height-header: 56px;
    --width-sideBar-hide: 72px;
    --width-sideBar-show: 240px;
    --text-color: #030303;
    --white: white;
    --fontFamily: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    overflow-y: auto;
    background-color: #f9f9f9 !important;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    background: transparent;
}
a {
    color: var(--text-color);
    text-decoration: none;
}

html *::-webkit-scrollbar {
    width: 16px;
}

html ::-webkit-scrollbar-thumb {
    height: 36px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    .tippy-box {
        background-color: #616161;
        color: var(--white);
        padding: 8px;
        border-radius: 2px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 400;
    }
    .tippy-content {
        padding: 0;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        display: none;
    }
}
// btn-login
.LoginBtn_wrapper__0Z3yT .LoginBtn_login-btn__\+wqLm {
    .css-y4cjyz-MuiTouchRipple-ripple .MuiTouchRipple-child {
        background-color: #a19494;
    }
    .css-1d6wzja-MuiButton-startIcon {
        margin-left: 0;
    }
}
//btn header Home
.Home_wrapper__WRCXR {
    .css-1aquho2-MuiTabs-indicator {
        display: none;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        background-color: #030303;
        color: #fff;
    }
    .css-8je8zh-MuiTouchRipple-root {
        display: none;
    }
    .css-heg063-MuiTabs-flexContainer {
        // justify-content: center;
    }
    .css-afwrde {
        background-color: transparent;
    }
}
.Home_contai-content__fE8NV {
}
#player {
    display: none;
}
.Home_wrapper__WRCXR {
    .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root.Mui-disabled {
        display: none;
    }

    .css-ptiqhd-MuiSvgIcon-root {
        width: 2.4rem;
        height: 2.4rem;
    }
}
