@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --height-header: 56px;
    --width-sideBar-hide: 72px;
    --width-sideBar-show: 240px;
    --text-color: #030303;
    --white: white;
    --fontFamily: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    overflow-y: auto;
    background-color: #f9f9f9 !important;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    background: transparent;
}
a {
    color: var(--text-color);
    text-decoration: none;
}

html *::-webkit-scrollbar {
    width: 16px;
}

html ::-webkit-scrollbar-thumb {
    height: 36px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    .tippy-box {
        background-color: #616161;
        color: var(--white);
        padding: 8px;
        border-radius: 2px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 400;
    }
    .tippy-content {
        padding: 0;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        display: none;
    }
}
// btn-login
.LoginBtn_wrapper__0Z3yT .LoginBtn_login-btn__\+wqLm {
    .css-y4cjyz-MuiTouchRipple-ripple .MuiTouchRipple-child {
        background-color: #a19494;
    }
    .css-1d6wzja-MuiButton-startIcon {
        margin-left: 0;
    }
}
//btn header Home
.Home_wrapper__WRCXR {
    .css-1aquho2-MuiTabs-indicator {
        display: none;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        background-color: #030303;
        color: #fff;
    }
    .css-8je8zh-MuiTouchRipple-root {
        display: none;
    }

    .css-afwrde {
        background-color: transparent;
        max-width: unset;
    }
}
.Home_contai-content__fE8NV {
}
#player {
    display: none;
}
.Home_wrapper__WRCXR {
    .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root.Mui-disabled {
        display: none;
    }

    .css-ptiqhd-MuiSvgIcon-root {
        width: 2.4rem;
        height: 2.4rem;
    }
}
.UserChannel_content-user-channel__ORUd- {
    .css-qh29qi {
        margin-left: -40px;
        padding: 0 107px;
        position: sticky;
        top: 56px;
        background: white;
        z-index: 99;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: #030303;
        background-color: transparent;
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root:last-child {
        padding-right: 0;
        padding-left: 0;
        z-index: 9;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        font-size: 1.4rem;
        color: #606060;
        padding-right: 32px;
        padding-left: 32px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
    }
    .css-1aquho2-MuiTabs-indicator {
        background-color: #606060;
    }
    .css-y4cjyz-MuiTouchRipple-ripple .MuiTouchRipple-child {
        background-color: transparent;
    }
    .css-ptiqhd-MuiSvgIcon-root {
        font-size: 2.2rem;
    }
    // .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root.Mui-disabled {
    //     display: none;
    // }
}
.UserChannel_card-image__QKDFW {
    .CardImage_wrapper-content-video__owR7M {
        margin: 0;
    }
    .CardImage_wrapper-content-video__owR7M {
        height: auto;
    }
    .CardImage_first-title__DwUT4 {
        margin: 8px 0;
    }
    .CardImage_content-title__ZRe7r .CardImage_first__w9OQU {
        flex: 1;
    }
    .CardImage_first-name__dEdJU {
        display: none;
    }
}
.New_container__KzElA {
    .New_item-featured__ujdm5 {
        .CardImage_wrapper__YrspD {
            height: 138px;
            .CardImage_wrapper-content-video__owR7M {
                height: 100%;
                min-width: 246px;
            }
        }
    }
}
