.content-user-channel-USERCHANNEL {
    .css-qh29qi {
        margin-left: -40px;
        padding: 0 107px;
        position: sticky;
        top: 56px;
        background: white;
        z-index: 99;
    }
    .Mui-selected {
        color: #030303 !important;
        background-color: transparent;
    }

    .tabs-menu:last-child {
        padding-right: 0;
        padding-left: 0;
        z-index: 9;
    }
    .tabs-menu {
        font-size: 1.4rem;
        color: #606060;
        padding-right: 32px;
        padding-left: 32px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
    }

    .MuiTouchRipple-child {
        background-color: transparent;
    }
    .css-ptiqhd-MuiSvgIcon-root {
        font-size: 2.2rem;
    }
    .MuiTabs-indicator {
        background-color: #606060;
    }
}
@media (max-width: 876px) {
    .content-user-channel-USERCHANNEL {
        .css-qh29qi {
            top: 48px;
            margin-left: 0;
            padding: 0;
        }
    }
}
