.wrapper {
    height: 40px;

    display: flex;
    align-items: center;
    width: 630px;
}
.wrapper-input {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    border: 1px solid transparent;
    margin-left: 32px;
    border: 1px solid;
    border-color: #d3d3d3;
    padding-left: 8px;

    input {
        line-height: 2.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        caret-color: #111111;
        color: #111111;
        width: 524px;
        font-family: var(--fontFamily);
    }

    &:focus-within {
        margin-left: 0;
        padding-left: 0;
        border-color: #1c62b9;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    }
    &:focus-within .search-icon {
        display: flex;
    }
}
.wrapper-input[has-focus] .wrapper-input {
    display: none;
}
.search-icon {
    padding: 0 10px;
    cursor: pointer;
    height: 100%;
    align-items: center;
    display: none;
}
.wrapper-input-right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 2px;
}
.keyboard {
    background: url(data:image/gif;base64,R0lGODlhEwALAKECAAAAABISEv///////yH5BAEKAAIALAAAAAATAAsAAAIdDI6pZ+suQJyy0ocV3bbm33EcCArmiUYk1qxAUAAAOw==)
        no-repeat center;
    display: inline-block;
    height: 11px;
    line-height: 0;
    width: 19px;
    margin: 4px;
    cursor: pointer;
}
.clear {
    padding: 9px 10px;
    cursor: pointer;
}
.search-btn {
    width: 64px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    cursor: pointer;
    border: 1px solid;
    border-color: #d3d3d3;
    border-left: 1px solid transparent;

    &:hover {
        border-color: #c6c6c6;
        background-color: #f0f0f0;
        box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    }
}
.search-result {
    width: 566px;
    border: 1px solid #ccc;
    background-color: var(--white);
    margin-top: -11px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
.wrapper-search {
    padding: 16px 0 8px;
}
